
:root {
    --heading-text-color:#e7eedd;
    --background-color:#2a4813;
    --secondary-color:#ffffff;
    --heading-font-family:"Playfair Display", serif;
    --default-font-family:"Poppins", sans-serif;

}

body {
    font-family: "Poppins", sans-serif;
}
h1 {
    color: var(--heading-text-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 96px;
  }
  
  
.hero {

    background: var(--background-color);
    text-align: center;
    padding:120px 60px;
}  
.hero p {
    font-size: 36px;
    font-weight: bolder;
    margin: 0;
    color: var(--secondary-color);
}
.hero h2{
    color:var(--secondary-color);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
}
 .btn-branding {
    background: var(--heading-text-color);
    border-radius: 4px;
    color:var(--background-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}